{{ $ := .root }}
{{ $page := .page }}

<!-- agh-courses widget -->
<div class="row">
  <div class="col-12 col-lg-4">
      <div class="section-subheading">Courses</div>
        {{ range $page.Params.courses }}
        {{ $link := .link }}
        {{ $link_text := or .link_text "Syllabus" }}
        {{ $link_icon := or .link_icon "fa-solid fa-file-pdf" }}
        {{ $scheme := (urls.Parse $link).Scheme }}
        {{ $target := "" }}
        {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
        {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
        {{ end }}
        <details class="spoiler " id="spoiler-0">
        <summary>{{ .name | markdownify}}</summary>
        <ul class="ul-social fa-ul">
        <li style="font-size: 0.9rem;">
          <p>{{ .about | markdownify | emojify }}</p> 
        </li>
        <li style="display: inline-block; font-size: 0.75rem;">
        <i class="fa-solid fa-calendar"></i> {{ .when | markdownify }}</p>    
        </li>
        <li style="display: inline-block; font-size: 0.75rem;">
        <i class="fa-solid fa-globe"></i> {{ .lang | markdownify }}
        </li>
        {{ if .link }}
        <li style="display: inline-block; font-size: 0.75rem;">   
          <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} aria-label="{{ $link_icon }}">
          <i class="{{ $link_icon }}"></i> {{ $link_text }}
          </a>
        </li>
        {{ end }}
        </ul>
        </details>
        {{ end }}
  </div>
  <div class="col-12 col-lg-8">
    {{ $page.Content }} 
  </div>
</div>
