{{ $ := .root }}
{{ $page := .page }}

<!-- agh-courses widget -->
<div class="row">
  <div class="col-12 col-lg-4">
      <div class="section-subheading">{{ or (i18n "courses") "Courses" }}</div>
        {{ range $page.Params.courses }}
        {{ $link := .link }}
        {{ $link_text := or .link_text (i18n "more_info") }}
        {{ $link_icon := or .link_icon "fa-solid fa-file-pdf" }}
        {{ $scheme := (urls.Parse $link).Scheme }}
        {{ $target := "" }}
        {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
        {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
        {{ end }}
        <details class="spoiler " id="spoiler-0">
        <summary>{{ .name | markdownify}}</summary>
        <ul class="ul-social fa-ul">
        <li style="font-size: 0.9rem;">
          <p>{{ .about | markdownify | emojify }}</p> 
        </li>
        <li style="display: inline-block; font-size: 0.75rem;">
        <i class="fa-solid fa-calendar"></i> {{ .when | markdownify }}</p>    
        </li>
        <li style="display: inline-block; font-size: 0.75rem;">
        <i class="fa-solid fa-globe"></i> {{ .lang | markdownify }}
        </li>
        {{ if .link }}
        <li style="display: inline-block; font-size: 0.75rem;">   
          <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} aria-label="{{ $link_icon }}">
          <i class="{{ $link_icon }}"></i> {{ $link_text }}
          </a>
        </li>
        {{ end }}
        </ul>
        </details>
        {{ end }}
  </div>
  <div class="col-12 col-lg-8">
    <h2>{{ $page.Params.title }} </h2>
    {{ $page.Content }}
    <h3>{{ or (i18n "consulting") "Consulting Hours" }}</h3>
    {{ $page.Params.consulting.text | markdownify }}
    <br>
    <p align="right"><a href="{{ $page.Params.consulting.place.link }}" target="_blank" rel="noopener">
      <i class="fas fa-location-pin  pr-1 fa-fw"></i> {{ $page.Params.consulting.place.name | markdownify }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fas fa-clock  pr-1 fa-fw"></i> {{ $page.Params.consulting.time | markdownify }}</p>
 
  </div>
</div>
