{{ $ := .root }}
{{ $page := .page }}

<!-- agh-courses widget -->
<div class="row">
  <div class="col-12">
      <div class="section-subheading">Courses</div>
        {{ range $page.Params.courses }}
        {{ $pack := or .icon_pack "fas" }}
        {{ $pack_prefix := $pack }}
        {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
        {{ end }}
        {{ $link := .link }}
        {{ $scheme := (urls.Parse $link).Scheme }}
        {{ $target := "" }}
        {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
        {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
        {{ end }}
        <details class="spoiler " id="spoiler-0" open="">
        <summary>{{ .name | markdownify}}</summary>
        <ul class="ul-social fa-ul">
        <li>
          <p>{{ .about | markdownify | emojify }}</p> 
        </li>
        <li>
        — when: {{ .when | markdownify }}</p>    
        </li>
        <li>
        — teaching language: {{ .lang | markdownify }}
        </li>
        <li>
          <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} aria-label="{{ .icon }}">
          — download syllabus
          </a>
        </li>
        </ul>
        </details>
        {{ end }}
  </div>
</div>
